header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #2d3e50;
    color: #fff;
        text-align: center;
}
nav ul li{
    text-decoration: none;
color: white;
font-size: 18px;
padding: 0,15;
text-transform: capitalize;
}
